@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');

#same h1:first-child {
  	font-size: 60px; /* 60ピクセルに設定 */
	font-family: 'Caveat', cursive;
}

#same h1:not(:first-child) {
	font-family: 'Cherry Swash', cursive;
}

#same {
  	display: flex;
  	justify-content: space-around;
  	align-items: center;
  	background-color: #f0f0f0; /* ヘッダーの背景色を設定 */
}

#same h1 {
  	margin: 0; /* ヘッダー内の各要素のマージンをリセット */
}

#samefoot {
  	display: flex;
  	justify-content: space-around;
  	align-items: center;
  	background-color: #f0f0f0; /* ヘッダーの背景色を設定 */
	font-family: 'Cherry Swash', cursive;
	font-size: 12px;
}

#samefoot h1 {
  	margin: 0; /* ヘッダー内の各要素のマージンをリセット */
}

a {
  text-decoration: none;
}

a,a:hover,a:visited{
    color: inherit;
}

/*これより下部に記述してください。*/